<main>
    <div class="container py-4">

      <div class="align-items-center">
      <app-tabla-pelicula *ngIf="comoVer=='Tabla'" [listadoRecibido]="listadoDePeliculas()" (seleccioneUnaPelicula)="tomoPeliculaSeleccionada($event)"></app-tabla-pelicula>
      <app-pelicula-listado *ngIf="comoVer=='Lista'" [listadoRecibido]="listadoDePeliculas()" (seleccioneUnaPelicula)="tomoPeliculaSeleccionada($event)"></app-pelicula-listado>           
        <button type="button" (click)="CambiarLaVista()" [ngClass]="tipoDeBoton" class="btn  btn-circle">{{comoVer}}<i class="fa fa-check"></i></button>
      </div>
      <p></p>
      <div class="row align-items-md-stretch">
        <div class="col-md-4">
          <div class="h-100 p-2 bg-light border">
            <h2>Mostrar
              <button *ngIf="verPeli!=null" type="button" class="btn btn-danger" (click)="verPeli=null">X</button>
            </h2>
            <app-detalle-pelicula *ngIf="verPeli != null" [peliculaSeleccionada]="verPeli"></app-detalle-pelicula>
          </div>
        </div>
        <div class="col-md-4">
          <div class="h-100 p-2 bg-light border">
            <h2>Modificar
              <button *ngIf="editarPeli!=null" type="button" class="btn btn-danger" (click)="editarPeli=null">X</button> 
            </h2>
            <app-modificar-pelicula *ngIf="editarPeli != null" [peliculaSeleccionada]="editarPeli"></app-modificar-pelicula>
          </div>
        </div>
        <div class="col-md-4">
          <div class="h-100 p-2 bg-light border">
            <h2>Borrar
              <button *ngIf="borrarPeli!=null" type="button" class="btn btn-danger" (click)="borrarPeli=null">X</button>
            </h2>
            <app-borrar-pelicula *ngIf="borrarPeli != null" [(peliculaSeleccionada)]="borrarPeli"></app-borrar-pelicula>
          </div>
        </div>
      </div>
  
      <footer class="pt-3 mt-4 text-muted border-top">
        &copy; 2022
      </footer>
    </div>
  </main>