<main>
    <div class="container py-4">

      <div class="align-items-center">
      <app-tabla-pelicula *ngIf="comoVer=='Tabla'" [listadoRecibido]="listadoDePeliculas()" (seleccioneUnaPelicula)="tomoPeliculaSeleccionada($event)"></app-tabla-pelicula>
      <app-pelicula-listado *ngIf="comoVer=='Lista'" [listadoRecibido]="listadoDePeliculas()" (seleccioneUnaPelicula)="tomoPeliculaSeleccionada($event)"></app-pelicula-listado>           
        <button type="button" (click)="CambiarLaVista()" [ngClass]="tipoDeBoton" class="btn  btn-circle">{{comoVer}}<i class="fa fa-check"></i></button>
      </div>
      <p></p>
      <div class="row align-items-md-stretch">
        <div class="col-md-4">
          <div class="h-100 p-2 bg-light border">
            <h2>Para borrar</h2>
            <!--app-componente-alta (creamosUnProducto)="funcionLocal($event)"></app-componente-alta-->
          </div>
        </div>
        <div class="col-md-4">
          <div class="h-100 p-2 bg-light border">
            <h2>Solo mostrar
              <button *ngIf="elementoActivo!=null" type="button" class="btn btn-danger" (click)="elementoActivo=null">X</button>
            </h2>
            <app-detalle-pelicula *ngIf="elementoActivo != null" [peliculaSeleccionada]="elementoActivo"></app-detalle-pelicula>
          </div>
        </div>
        <div class="col-md-4">
          <div class="h-100 p-2 bg-light border">
            <h2>Modificar</h2>
            <!--app-componente-detalle [productoSeleccionado]="productoActivo"></app-componente-detalle-->
          </div>
        </div>
      </div>
  
      <footer class="pt-3 mt-4 text-muted border-top">
        &copy; 2022
      </footer>
    </div>

    pelis
    <ul>
      <li *ngFor="let item of pelisFire$ | async">
      {{item.id}} - {{ item.nombre }}
      </li>
    </ul>
    asdfg - {{test.nombre}}
  </main>
<!--app-componente-alta (creamosUnProducto)="funcionLocal($event)"></app-componente-alta>
<app-componente-detalle [productoSeleccionado]="productoActivo"></app-componente-detalle>
<app-componente-listado [listadoRecibido]="listadoProductos" (seleccioneUnProducto)="tomoProductoSeleccionado($event)"></app-componente-listado-->