<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand">Manuel González</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="busqueda" routerLinkActive="active" ariaCurrentWhenActive="page">Peliculas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="actor/alta" routerLinkActive="active" ariaCurrentWhenActive="page">Alta Actor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="peliculas/alta" routerLinkActive="active" ariaCurrentWhenActive="page">Alta Pelicula</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="actor/pelicula" routerLinkActive="active" ariaCurrentWhenActive="page">Actor Pelicula</a>
          </li>
      </ul>
    </div>
  </nav>
