<ul class="list-group">
    <!--li class="list-group-item"><img src={{peliculaSeleccionada.foto}} style="max-width:300px; max-height:300px"></li-->
    <li class="list-group-item">Nombre: {{actorRecibido.nombre}}</li>
    <li class="list-group-item">Apellido: {{actorRecibido.apellido}}</li>
    <li class="list-group-item">Edad: {{actorRecibido.edad}}</li>
    <li class="list-group-item">Pais: {{actorRecibido.pais.translations.spa.common}} <img src="{{actorRecibido.pais.flags.svg}}"
        style="width:26px;height:20px;"></li>
</ul>