<table class="table table-striped table-bordered">
<thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>streno</th>
        <th>Cantidad de Publico</th>
        <!--th>Imagen</th-->
        <th>Acciones</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let item of listadoRecibido | async">
        <td>
            {{item.id}}
        </td>
        <td>
            {{item.nombre}}
        </td>
        <td>
            {{item.tipo}}
        </td>
        <td>
            {{item.estreno}}
        </td>
        <td>
            {{item.cantPublico}}
        </td>
        <!--td *ngIf="tieneImagen('../../../assets/images/' + item.id + '.jpg')">
            <img src={{item.foto}} style="width:20px;height:30px;">
        </td-->
        <td>
            <button class="btn btn-info" (click)="seleccionarPelicula([item, caso[0]])">Detalles</button>
            <button class="btn btn-warning" (click)="seleccionarPelicula([item, caso[1]])">Modificar</button>
            <button class="btn btn-danger" (click)="seleccionarPelicula([item, caso[2]])">Borrar</button>
        </td>
    </tr>
</tbody>
</table>