<div class="container"><p><p></p>
    <div class="row">
        <div class="col-md-6">
            <app-actor-listado [arrayActores]="listadoDeActores()"></app-actor-listado>
        </div>
        <div class="col-md-6">
            <form>
                <div class="row block">
                    <div class="col">
                        <div class="form-group col">
                            <input type="text" [(ngModel)]="nombre"
                                name="nombre"
                                class="form-control"
                                placeholder="Nombre">
                        </div>
                        <p></p>
                        <div class="form-group col">
                            <input type="text" [(ngModel)]="apellido"
                                name="apellido"
                                class="form-control"
                                placeholder="Apellido">
                        </div>
                        <p></p>
                        <div class="form-group col">
                            <input type="text" [(ngModel)]="edad" name="edad"
                                class="form-control"
                                placeholder="Edad">
                        </div>
                        <p></p>
                        <div class="form-group col">
                            <input type="text" class="form-control"
                                placeholder={{nombrePais}} disabled>
                        </div>
                    </div>
                    <div class="col">
                        <app-tabla-paises (enviarPais)="actualizarPais($event)"></app-tabla-paises>
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" (click)="guardarActor()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>