<ul class="list-group">
    <!--li class="list-group-item"><img src={{peliculaSeleccionada.foto}} style="max-width:300px; max-height:300px"></li-->
    <li class="list-group-item">{{peliculaSeleccionada.nombre}}</li>
    <li class="list-group-item">ID: {{peliculaSeleccionada.id}}</li>
    <li class="list-group-item">Género: {{peliculaSeleccionada.tipo}}</li>
    <li class="list-group-item">Estreno: {{peliculaSeleccionada.estreno}}</li>
    <li class="list-group-item">Cantidad de Público: {{peliculaSeleccionada.cantPublico}}</li>
    <li class="list-group-item"><img class="center" src="../../../assets/images/{{peliculaSeleccionada.id}}.jpg"></li>

</ul>
